<div class="card text-center shadow" style="width: 30em; margin:0 auto;">
  <div class="card-body">
    <h5 class="card-title">View Buildings</h5>
    <p class="card-text">See a list of all your properties as well as their details.</p>
    <button type="button" class="btn btn-primary btn-med">See Your Buildings</button>
  </div>
</div>
<br/>
<br/>
<div class="card text-center shadow" style="width: 30em; margin:0 auto;">
  <div class="card-body">
    <h5 class="card-title">Manage Companies</h5>
    <p class="card-text">Create a company and place them in an available floor.</p>
    <button type="button" class="btn btn-primary btn-med">Add New Companies</button>
  </div>
</div>