<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Welcome to CoShared!</h1>
    <p class="lead">The premiere cosharing company.</p>
  </div>
</div>