<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Welcome to CoShared!</h1>
    <p class="lead">The premiere cosharing company.</p>
  </div>
</div>
<br/>
<div class="card text-center shadow" style="width: 30em; margin:0 auto;">
  <div class="card-body">
    <h5 class="card-title">View Buildings</h5>
    <p class="card-text">See a list of all your properties as well as their details.</p>
    <%= link_to "See Your Buildings", buildings_path, class: "nav-link" %>
  </div>
</div>
<br/>
<br/>
<div class="card text-center shadow" style="width: 30em; margin:0 auto;">
  <div class="card-body">
    <h5 class="card-title">Manage Companies</h5>
    <p class="card-text">Create a company and place them in an available floor.</p>
    <%= link_to "See Your Companies", companies_path, class: "nav-link" %>
  </div>
</div>